<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom border-top">
    <a href="/candidate/liste_de_mes_candidatures/179" role="button" class="btn btn-success">Espace Candidat</a>
</section>